
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    font-size: large;
    box-sizing: border-box;

}

body {
    background-color:rgb(199, 174, 174) ;
    margin: 400px auto;
}

.container {
    display: inline;
    width: 300px;
    height: 100px;
    margin: 50px 5px 50px 750px;
    padding: 39px 20px 39px 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 5px black;
}

/* Не повторяйте одинаковые CSS-свойства и значения. Используйте одно правило стилей с общим селектором.
Почитайте про принцип DRY – Do not repeat yourself – https://ru.wikipedia.org/wiki/Don%E2%80%99t_repeat_yourself . */
#firstCircle {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkgrey;
    vertical-align: middle;
    box-shadow: 0 0 10px red;
}

#secondCircle {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkgrey;
    vertical-align: middle;
    box-shadow: 0 0 5px black;
}

#thirdCircle {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkgrey;
    vertical-align: middle;
    box-shadow: 0 0 5px black;
}

#clickButton {
    display: inline;
    width: 80px;
    height: 100px;
    border: 1px solid rgb(21, 0, 46);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}